<img src="https://lab9k.github.io/images/logo.svg" width="170">

# Lab9k Github report 4&#x2F;2&#x2F;2018

## 1. Project Skos

### 1.1.Description

* [lab9k.github.io](https:&#x2F;&#x2F;github.com&#x2F;lab9k&#x2F;lab9k.github.io)
* [Orga](https:&#x2F;&#x2F;github.com&#x2F;lab9k&#x2F;Orga)
* [Skos](https:&#x2F;&#x2F;github.com&#x2F;lab9k&#x2F;Skos)
* [Beacons](https:&#x2F;&#x2F;github.com&#x2F;lab9k&#x2F;Beacons)
* [AndroidAuthenticator](https:&#x2F;&#x2F;github.com&#x2F;lab9k&#x2F;AndroidAuthenticator)
* [LabStats](https:&#x2F;&#x2F;github.com&#x2F;lab9k&#x2F;LabStats)
* [score](https:&#x2F;&#x2F;github.com&#x2F;lab9k&#x2F;score)

Skosmos project with the great vocbench software...

See the project on [github]()

### 1.2.Contributors

All the people that contributed to this project.

Jef
Ian

* [User 1](https://github.com/rubenalliet)

### 1.3.Commits

This graph shows the amount of commits done by each user for Project x.

| Users                                    | Commits |
| ---------------------------------------- | ------- |
| [User 1](https://github.com/rubenalliet) | 10      |
| [User 1](https://github.com/rubenalliet) | 20      |

30

To get a complete overview click [here](www.google.com)

### 1.4.Kanban Board | Progress

This board gives an overview of the current state of the project.

| Todo | In progress | Testing | Done |
| ---- | ----------- | ------- | ---- |


project_kanban_board_items

To get a complete overview click [here](project_kanban_board_url)
